/* You can add global styles to this file, and also import other style files */
div {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: calc(1vw + 1.5rem);
}
