/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  background-color: colors.$primary;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: calc(1vw + 1.5rem);
}
